<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="serilog:minimum-level" value="Verbose" />
		<add key="serilog:enrich:with-property:AppVersion" value="1.6.0" />
		<add key="serilog:write-to:File.path" value="./Logs/LogFile.json" />
		<add key="serilog:write-to:File.formatter" value="Serilog.Formatting.Json.JsonFormatter, Serilog" />
		<add key="serilog:write-to:Console.formatter" value="Serilog.Formatting.Json.JsonFormatter, Serilog" />
		<add key="serilog:using:File" value="Serilog.Sinks.File" />
		<add key="serilog:using:Console" value="Serilog.Sinks.Console" />
	</appSettings>
</configuration>