<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      parseMessageTemplates="true">
  <!--
  Exception thrown: 'System.DivideByZeroException' in ConsoleAppNlog.exe
  -->

  <!--
  internalLogToTrace="true"

NLog: 2020-03-29 18:28:21.9587 Info Message Template Auto Format enabled
NLog: 2020-03-29 18:28:21.9587 Warn Error has been raised. Exception: NLog.NLogConfigurationException: Target 'c' not found for logging rule: *.
NLog: 2020-03-29 18:28:21.9857 Info Found 1 configuration items
  -->
      
  <!--
  internalLogToConsole="true"
  
2020-03-29 18:29:31.5403 Info Message Template Auto Format enabled
2020-03-29 18:29:31.5532 Warn Error has been raised. Exception: NLog.NLogConfigurationException: Target 'c' not found for logging rule: *.
2020-03-29 18:29:31.5722 Info Found 1 configuration items  
  -->
  <!--
        autoReload="true"
        throwExceptions="false"
        internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log"
  -->

  <!--  https://github.com/NLog/NLog/wiki/Internal-Logging  -->

  <targets>
    <target xsi:type="Console" name="c">
      <layout xsi:type="JsonLayout">
        <attribute name="Message" layout="${message}"/>
        <attribute name="Properties">
          <layout xsi:type="JsonLayout" includeAllProperties="true" excludeProperties="Name" />
        </attribute>
      </layout>
    </target>/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="c" />
  </rules>
</nlog>