<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${logger} ${message}" />
    
    <target xsi:type="Console" name="c" layout="${message}
            ${onexception:inner=${newline}${exception:format=Type,StackTrace}}"/>
              <!--${newline}Exception Type\:${exception:format=Type}
              ${newline}Exception Method\:${exception:format=Method}
              ${newline}Exception StackTrace\:${exception:format=StackTrace}}"/>-->
    <target xsi:type="Console" name="c2">
      <layout xsi:type="JsonLayout">
        <!-- Json 형식 출력 -->
        <attribute name="RawMessage" layout="${message:raw=true}"/>
        
        <!-- Json 형식 속성 출력 -->
        <attribute name="Properties" encode="false">
          <layout xsi:type="JsonLayout" includeAllProperties="true"/>
        </attribute>

        <!-- 기본 형식 출력 -->
        <!--<attribute name="NotRawMessage" layout="${message:raw=false}"/>-->
        <attribute name="Message" layout="${message}"/>
      </layout>
    </target>

    <!--
    <target xsi:type="Console" name="c">
      <layout xsi:type="CsvLayout" delimiter="Comma" withHeader="true">
        <column name="X" layout="${event-properties:X}"/>
        <column name="Y" layout="${event-properties:Y}"/>
      </layout>
    </target>
    -->
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="c" />
  </rules>

</nlog>
